/* Tryby i Ich Zmienne*/
:root {
  /* Kolory główne */
  --twitter-color: #50b7f5;
  --twitter-background-color: #e6ecf0;
  /* Tło i tekst */
  --back-color: #ffffff;
  --text-color: #000000;
  /* Pomocnicze */
  --secondary-text: rgb(83, 100, 113);
  --shadow-color: rgba(83, 100, 113, 1);
  /* Sekcje i Komponenty */
  --profile-background-color: rgb(51, 54, 57);
  --bottom-bar-border-color: #ccc;
  --bottom-bar-hover: #f5f8fa;
  --bottom-bar-text: #536471;
  --widgets-background: #f5f8fa;
  --input-background: var(--twitter-background-color);
  --avatar-border: #ffffff;
  /* Przyciski */
  --button-primary-text: #ffffff;
  --mode-switch-color: #1d9bf0;
  --mode-switch-text: #ffffff;
  /* Ikona Wyszukiwania */
  --search-icon-color: gray;
  /* Szukanie */
  --Suggest-shadow-color: rgba(0,0,0,0.1);
  --Suggest-back-color: white;
  --hover-box-color: #f0f0f0;
}

.darkmode {
  --twitter-background-color: #1f2020;
  --back-color: #000000;
  --text-color: #ffffff;
  --secondary-text: rgb(108, 129, 145);
  --shadow-color: rgba(255, 255, 255, 0.2);
  --profile-background-color: rgb(195, 205, 215);
  --bottom-bar-border-color: #565555;
  --bottom-bar-hover: #070707;
  --bottom-bar-text: #6d8394;
  --widgets-background: #2a2a2a;
  --input-background: var(--twitter-background-color);
  --avatar-border: #000000;
  --button-primary-text: #000000;
  --mode-switch-text: #000000;
  --Suggest-shadow-color: rgba(0,0,0,0.1);
  --Suggest-back-color: white;
  --hover-box-color: #f0f0f0;
}

/* Reset domyślnych ustawień przeglądarki */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global */
body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 10px;
  background: var(--back-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

/* Linki */
a,
.sidebar a,
.profile_header a {
  color: var(--text-color);
  text-decoration: none;
}

/* Sidebar */
.sidebar {
  flex: 0.2;
  min-width: 250px;
  margin-top: 20px;
  padding: 0 20px;
  border-right: 1px solid var(--twitter-background-color);
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: var(--text-color);
}

.sidebarOption .material-icons,
.logo {
  padding: 20px;
}

.sidebarOption h2 {
  font-size: 20px;
  font-weight: 800;
  margin-right: 20px;
}

.sidebarOption.active {
  color: var(--twitter-color);
}

.sidebarOption:hover {
  background: var(--twitter-background-color);
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 0.1s ease-out;
}

.sidebar_tweet {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background: var(--twitter-color);
  border: none;
  border-radius: 30px;
  color: var(--button-primary-text);
  font-weight: 900;
  cursor: pointer;
}

/* Feed */
.feed {
  flex: 0.5;
  min-width: fit-content;
  overflow-y: scroll;
  border-right: 1px solid var(--twitter-background-color);
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed_header {
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 15px 20px;
  background: var(--back-color);
  border: 1px solid var(--twitter-background-color);
}

.feed_header h2 {
  font-size: 20px;
  font-weight: 800;
}

/* Profil */
.profile_screen {
  flex: 0.5;
  width: 100%;
  min-width: fit-content;
  overflow-y: scroll;
  border-right: 1px solid var(--twitter-background-color);
}

.profile_screen::-webkit-scrollbar {
  display: none;
}

.profile_screen {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.profile_header {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  padding: 15px 20px;
  background: var(--back-color);
  border: 1px solid var(--twitter-background-color);
  color: var(--text-color);
}

.profile_header h2 {
  font-size: 20px;
  font-weight: 800;
  padding-left: 20px;
}

.profile_background {
  background: var(--profile-background-color);
  padding-bottom: 33.33%;
}

.profile_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
}

.profile_avatar {
  width: 25%;
  height: 40px;
  margin: -25% 0 12px;
  padding-left: 8px;
  position: relative;
  box-shadow: var(--shadow-color) 0 0 2px inset;
}

.profile_avatar img {
  width: 141px;
  height: 141px;
  border-radius: 50%;
  border: 3px solid var(--avatar-border);
}

.basic_info {
  display: block;
  margin: 4px 8px 20px 20px;
  padding-top: 3%;
}

.profile_name {
  padding-left: 12px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 800;
  color: var(--text-color);
}

.joined {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 12px;
  padding: 3% 0 0 12px;
  font-size: 15px;
  line-height: 12px;
  font-weight: 400;
  color: var(--secondary-text);
}

.joined .material-icons {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
  fill: var(--secondary-text);
  color: var(--secondary-text);
}

.joined .date {
  display: inline-block;
}

/* Posty */
.kontener_post {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  padding: 15px 20px;
  border-bottom: 1px solid var(--twitter-background-color);
  background-color: var(--back-color);
  transition: background 0.3s;
}

.kontener_post:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.kontener_post h3 {
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  margin-bottom: 4px;

}

.kontener_post p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  color: var(--text-color);
  word-wrap: break-word;
  white-space: pre-wrap;
}

.kontener_post .post_content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#posty {
  display: flex;
  flex-direction: column;
  gap: 0;
}


/* Tweet Box */
.tweetBox {
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 8px solid var(--twitter-background-color);
}

.tweetBox form {
  display: flex;
  flex-direction: column;
}

.dodaj_post {
  display: flex;
  flex-direction: column;
}

.author{
  margin-top: 8px;
  margin-left: 20px;
  font-size: 20px;
  padding: 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  flex: 1;
  width: 95%;
}

.content{
  flex: 1;
  margin-left: 20px;
  margin-right: 20px;
  width: 95%;
  height: 100%;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  white-space: pre-wrap;
  overflow-wrap: break-word;
  font-family: Arial, sans-serif;
  resize: vertical;
  background-color: var(--back-color);
  color: var(--text-color);
}

.darkmode .content::placeholder {
  color: #888888;
}

.charCount {
  text-align: right;
  font-size: 12px;
  color: #657786;
  margin-top: 4px;
}

.tweetBoxButton {
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
  background: var(--twitter-color);
  border: none;
  border-radius: 30px;
  color: var(--button-primary-text);
  font-weight: 900;
}

/* Wigety */
.widgets {
  flex: 0.3;
}

.widgets_input {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 0 0 20px;
  padding: 10px;
  border-radius: 20px;
  background: var(--input-background);
}

.widgets_input input {
  flex: 1;
  border: none;
  outline: none;
  background: var(--input-background);
  color: var(--text-color);
}

.widgets_searchIcon {
  color: var(--search-icon-color);
}

/* Widgets Listbox */

#searchSuggestions {
  position: absolute;
  background: var(--Suggest-back-color);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  box-shadow: 0 4px 8px var(--Suggest-shadow-color);
  top: 100%;
  left: 0;
}

.listbox-item {
  padding: 8px 12px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-color);
}

.listbox-item:hover {
  background-color: var(--hover-box-color);
}

/* Widgets_Container (Co się dzieje?) */
.widgets_widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}

#widgets_widgetContainer {
  background: var(--widgets-background);
  border-radius: 20px;
  padding: 20px;
  margin: 15px 0 0 20px;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s, color 0.3s;
  background-color: var(--back-color);
  color: var(--text-color);
}

#widgets_widgetContainer h3 {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
  color: var(--text-color);
}

.top_post {
  border-bottom: 1px solid var(--hover-box-color);
  padding: 0.5rem 0;
}

.top_post:last-child {
  border-bottom: none;
}

.top_post p {
  margin: 0.2rem 0;
  font-size: 0.95rem;
  color: var(--bottom-bar-border-color);
}

.top_post_link {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: background-color 0.2s;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
}

.top_post_link:hover {
  background-color: var(--hover-box-color);
}

/* Pasek Dolny */
.bottomBar {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--bottom-bar-border-color);
}

.bottomBarOption {
  flex: 1;
  padding: 12px 20px;
  cursor: pointer;
  color: var(--bottom-bar-text);
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: 0.2s all ease-in-out;
}

.bottomBarOption.active {
  color: var(--text-color);
  font-weight: bold;
  border-bottom: 3px solid var(--twitter-color);
}

.bottomBarOption h2 {
  font-size: 20px;
  font-weight: 800;
  margin: 0 20px;
}

.bottomBarOption:hover {
  background: var(--bottom-bar-hover);
  color: var(--twitter-color);
  transition: color 0.1s ease-out;
}

/* Przełącznik Trybu */
.dark_mode_toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  border: none;
  border-radius: 20px;
  background: var(--mode-switch-color);
  color: var(--mode-switch-text);
  font-weight: 600;
  cursor: pointer;
}

.avatar img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 20px;
}

.avatar-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color, #000);
  margin-top: 15px;
}

.avatar {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding-top: 10px;
}

/* Search Feed */

.widgetsFeed {
  flex: 0.5;
  min-width: fit-content;
  overflow-y: scroll;
  border-right: 1px solid var(--twitter-background-color);
}

.widgetsFeed::-webkit-scrollbar {
  display: none;
}

.widgetsFeed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.widgetsFeed .widgets_input {
  display: flex;
  align-items: center;
  margin: 10px 0 0 20px;
  padding: 10px;
  border-radius: 20px;
  background: var(--input-background);
}

.widgetsFeed .widgets_input input {
  flex: 1;
  border: none;
  outline: none;
  background: var(--input-background);
  color: var(--text-color);
}

.widgetsFeed .widgets_searchIcon {
  color: var(--search-icon-color);
}

.post_comments {
  margin-top: 1rem;
  padding: 0.5rem;
  background: var(--back-color);
  color: var(--text-color);
  border-radius: 10px;
}

.post_comments form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.post_comments p {
  margin: 4px 0;
}